<?xml version='1.0' encoding='utf-8'?>
<widget id="com.masonpowers.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Null-Hop</name>
    <description>Sample Apache Cordova App</description>
    <author email="masonpowers46@gmail.com" href="https://masonpowers.com">
        Mason Powers
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>

<platform name="ios">
    <preference name="orientation" value="landscape" />
</platform>
