<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mel.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Null Hop</name>
    <description>A jumping journey with skill based movement.</description>
    <author email="masonpowers46@gmail.com" href="https://masonpowers.com">
        Mason Powers
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="Fullscreen" value="true" />
        <preference name="BackgroundColor" value="#37906Dff"/>
        <!-- <preference name="Orientation" value="landscape" /> -->


        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />

        <!-- SPLASH SCREEN -->
        <!-- This preference is used for both animated and non-animated icons -->
        <!-- The current acceptable asset files can either be a XML Vector Drawable or PNG. -->
        <!-- <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/splashscreen.xml" /> -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/ios/icon-1024@1x.png" />

    </platform>

    <platform name="ios">
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="Fullscreen" value="true" />
        <preference name="BackgroundColor" value="#37906Dff"/>
        <!-- <preference name="Orientation" value="landscape" /> -->

        <preference name="SuppressesLongPressGesture" value="true" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="Allow3DTouchLinkPreview" value="false" />
        <preference name="deployment-target" value="13.0" />

        <!-- These are set to suppress messages in xcode console -->
        <preference name="AllowNewWindows" value="false" />
        <preference name="AllowsAirPlayForMediaPlayback" value="true" />
        <preference name="LimitsNavigationsToAppBoundDomains" value="false" />
        <preference name="InspectableWebview" value="true" />
        <preference name="AllowBackForwardNavigationGestures" value="false" />
        <preference name="AutoHideSplashScreen" value="true" />
        
        <!-- APP ICON -->
        <icon src="res/ios/icon-1024@1x.png"/>

        <!-- SPLASH SCREEN -->
        <splash src="/res/ios/Default@2x~universal~anyany.png" />

    </platform>

</widget>
