button {
    all: unset;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;

    --myForegroundColor: var(--uiForegroundColor);
    --myBackgroundColor: var(--uiBackgroundColor);
}

button > div {
    /* this is the "face" of the button */
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    border: 0.35vw solid;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    transition: top 100ms cubic-bezier(0.31, 0.52, 0.48, 1.81);
}

button > div > svg {
    width: 100%;
    height: 100%;
}

button > div::after {
    /* this is the shadow/side of the button */
    content: "";
    position: absolute;
    top: 0.6vw;
    width: calc(100% + 0.7vw);
    height: calc(100% + 0.7vw);
    background-color: var(--uiForegroundColor);
    z-index: -1;
    transition: top 100ms cubic-bezier(0.31, 0.52, 0.48, 1.81);
    border-radius: inherit;
}

button.short-button > div::after {
    /* keep this after the rules for the main button */
    top: 0.3vw;
}

button.pressed {
    --myForegroundColor: var(--uiForegroundColor_pressed);
    --myBackgroundColor: var(--uiBackgroundColor_pressed);
}

button.pressed > div {
    background-color: var(--uiBackgroundColor_pressed);
    color: var(--uiForegroundColor_pressed);
    top: 0.6vw;
    transition: top 0ms;
}

button.short-button.pressed > div {
    top: 0.3vw;
}

button.pressed > div::after {
    background-color: var(--uiForegroundColor_pressed);
    top: 0;
    transition: top 0ms;
}

@media (orientation: portrait) {
    button > div {
        /* this is the "face" of the button */
        border: 0.76vw solid;
    }

    button > div::after {
        /* this is the shadow/side of the button */
        top: 1.2vw;
        width: calc(100% + 1.52vw);
        height: calc(100% + 1.52vw);
    }

    button.short-button > div::after {
        /* keep this after the rules for the main button */
        top: 0.7vw;
    }

    button.pressed > div {
        top: 1.2vw;
    }

    button.short-button.pressed > div {
        top: 0.7vw;
    }
}
