#ui_colorPicker {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    bottom: 5%;
    right: 5%;
    width: 48%;
    border-radius: 3.1vw;
    padding: 1.6vw;
    justify-content: space-between;

    color: var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    z-index: 1;

    --h: 0;
    --s: 0;
    --l: 0;

    box-shadow: 0 0.9vw 0 var(--uiBackgroundColor_pressed);
}

#ui_colorPickerHeader {
    display: flex;
    justify-content: space-between;
}

#btn_unselectColor {
    width: 4.9vw;
    height: 4.9vw;
}

#ui_colorPreview {
    border: 0.35vw solid var(--uiForegroundColor);
    background-color: hsl(var(--h), var(--s), var(--l));
    width: 12.5vw;
    height: 7.1vw;
    border-radius: 1.8vw;
}

#btn_copyColor,
#btn_pasteColor {
    width: 10.7vw;
    height: 6.3vw;
    font-size: 2.5vw;
}

#btn_hueSlider,
#btn_saturationSlider,
#btn_lightnessSlider {
    width: 100%;
}

#btn_hueSlider > .label,
#btn_saturationSlider > .label,
#btn_lightnessSlider > .label {
    margin-bottom: 1.6vw;
    font-size: 1.8vw;
}

#ui_hueGradient {
    width: 100%;
    height: 1.8vw;
    border-radius: 0.6vw;
    background-image: linear-gradient(
        90deg,
        hsl(0, 100%, 50%),
        hsl(10, 100%, 50%),
        hsl(20, 100%, 50%),
        hsl(30, 100%, 50%),
        hsl(40, 100%, 50%),
        hsl(50, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(70, 100%, 50%),
        hsl(80, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(100, 100%, 50%),
        hsl(110, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(130, 100%, 50%),
        hsl(140, 100%, 50%),
        hsl(150, 100%, 50%),
        hsl(160, 100%, 50%),
        hsl(170, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(190, 100%, 50%),
        hsl(200, 100%, 50%),
        hsl(210, 100%, 50%),
        hsl(220, 100%, 50%),
        hsl(230, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(250, 100%, 50%),
        hsl(260, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(280, 100%, 50%),
        hsl(290, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(310, 100%, 50%),
        hsl(320, 100%, 50%),
        hsl(330, 100%, 50%),
        hsl(340, 100%, 50%),
        hsl(350, 100%, 50%),
        hsl(360, 100%, 50%)
    );
}
#ui_saturationGradient {
    width: 100%;
    height: 1.8vw;
    border-radius: 0.6vw;
    background-image: linear-gradient(90deg, hsl(var(--h), 0%, var(--l)), hsl(var(--h), 100%, var(--l)));
}
#ui_lightnessGradient {
    width: 100%;
    height: 1.8vw;
    border-radius: 0.6vw;
    background-image: linear-gradient(
        90deg,
        hsl(var(--h), var(--s), 0%),
        hsl(var(--h), var(--s), 10%),
        hsl(var(--h), var(--s), 20%),
        hsl(var(--h), var(--s), 30%),
        hsl(var(--h), var(--s), 40%),
        hsl(var(--h), var(--s), 50%),
        hsl(var(--h), var(--s), 60%),
        hsl(var(--h), var(--s), 70%),
        hsl(var(--h), var(--s), 80%),
        hsl(var(--h), var(--s), 90%),
        hsl(var(--h), var(--s), 100%)
    );
}

#btn_backgroundColor,
#btn_playerColor,
#btn_wallTopColor,
#btn_wallSideColor,
#btn_platformTopColor,
#btn_platformSideColor,
#btn_endZoneTopColor,
#btn_endZoneSideColor,
#btn_directLightColor,
#btn_ambientLightColor {
    position: fixed;
    height: 6.3vw;
}

#btn_backgroundColor > div,
#btn_playerColor > div,
#btn_wallTopColor > div,
#btn_wallSideColor > div,
#btn_platformTopColor > div,
#btn_platformSideColor > div,
#btn_endZoneTopColor > div,
#btn_endZoneSideColor > div,
#btn_directLightColor > div,
#btn_ambientLightColor > div {
    padding: 0.4vw;
    font-size: 2.5vw;
}

#btn_backgroundColor > div > div,
#btn_playerColor > div > div,
#btn_wallTopColor > div > div,
#btn_wallSideColor > div > div,
#btn_platformTopColor > div > div,
#btn_platformSideColor > div > div,
#btn_endZoneTopColor > div > div,
#btn_endZoneSideColor > div > div,
#btn_directLightColor > div > div,
#btn_ambientLightColor > div > div {
    flex-grow: 1;
}

#btn_backgroundColor > div > svg,
#btn_playerColor > div > svg,
#btn_wallTopColor > div > svg,
#btn_wallSideColor > div > svg,
#btn_platformTopColor > div > svg,
#btn_platformSideColor > div > svg,
#btn_endZoneTopColor > div > svg,
#btn_endZoneSideColor > div > svg,
#btn_directLightColor > div > svg,
#btn_ambientLightColor > div > svg {
    width: 4.7vw;
}

#btn_playerColor {
    bottom: 10%;
    left: 5%;
    width: 15.6vw;
}

#btn_backgroundColor {
    bottom: 10%;
    left: 22.3vw;
    width: 22.3vw;
}

#btn_directLightColor {
    bottom: 10%;
    right: 30%;
    width: 23.4vw;
    font-size: 10px;
}

#btn_ambientLightColor {
    bottom: 10%;
    right: 5%;
    width: 23.4vw;
}

#btn_wallTopColor {
    top: 80px;
    right: 356px;
    width: 120px;
}

#btn_wallSideColor {
    top: 156px;
    right: 356px;
    width: 120px;
}

#btn_platformTopColor {
    top: 80px;
    right: 200px;
    width: 120px;
}

#btn_platformSideColor {
    top: 156px;
    right: 200px;
    width: 120px;
}

#btn_endZoneTopColor {
    top: 80px;
    right: 44px;
    width: 120px;
}

#btn_endZoneSideColor {
    top: 156px;
    right: 44px;
    width: 120px;
}

#ui_colorPicker_walls {
    color: var(--uiForegroundColor);
    font-size: 28px;
    position: fixed;
    right: 384px;
    top: 34px;
}

#ui_colorPicker_platforms {
    color: var(--uiForegroundColor);
    font-size: 28px;
    position: fixed;
    right: 204px;
    top: 34px;
}

#ui_colorPicker_endZones {
    color: var(--uiForegroundColor);
    font-size: 28px;
    position: fixed;
    right: 44px;
    top: 34px;
}

#btn_syncWallColors {
    position: fixed;
    right: 356px;
    top: 232px;
    width: 116px;
}

#btn_syncPlatformColors {
    position: fixed;
    right: 200px;
    top: 232px;
    width: 116px;
}

#btn_syncEndZoneColors {
    position: fixed;
    right: 44px;
    top: 232px;
    width: 116px;
}

#btn_syncWallColors > .label,
#btn_syncPlatformColors > .label,
#btn_syncEndZoneColors > .label {
    font-size: 16px;
    text-align: center;
}

@media (orientation: portrait) {
    #ui_colorPicker {
        left: 5%;
        bottom: 10%;
        top: unset;
        width: unset;
        height: 40%;
        border-radius: 6.6vw;
        padding: 3.4vw;
        box-shadow: 0 1.9vw 0 var(--uiBackgroundColor_pressed);
    }

    #btn_unselectColor {
        width: 10.6vw;
        height: 10.6vw;
    }

    #ui_colorPreview {
        border: 0.76vw solid var(--uiForegroundColor);
        width: 21vw;
        height: 15.5vw;
        border-radius: 3.8vw;
    }

    #btn_copyColor,
    #btn_pasteColor {
        width: 21vw;
        height: 13.5vw;
        font-size: 5.3vw;
    }

    #btn_hueSlider > .label,
    #btn_saturationSlider > .label,
    #btn_lightnessSlider > .label {
        margin-bottom: 3.4vw;
        font-size: 3.9vw;
    }

    #ui_hueGradient,
    #ui_saturationGradient,
    #ui_lightnessGradient {
        height: 3.9vw;
        border-radius: 1.2vw;
    }

    #btn_backgroundColor,
    #btn_playerColor,
    #btn_wallTopColor,
    #btn_wallSideColor,
    #btn_platformTopColor,
    #btn_platformSideColor,
    #btn_endZoneTopColor,
    #btn_endZoneSideColor,
    #btn_directLightColor,
    #btn_ambientLightColor {
        height: 13.5vw;
    }

    #btn_backgroundColor > div,
    #btn_playerColor > div,
    #btn_wallTopColor > div,
    #btn_wallSideColor > div,
    #btn_platformTopColor > div,
    #btn_platformSideColor > div,
    #btn_endZoneTopColor > div,
    #btn_endZoneSideColor > div,
    #btn_directLightColor > div,
    #btn_ambientLightColor > div {
        padding: 1vw;
        font-size: 5.3vw;
    }

    #btn_backgroundColor > div > svg,
    #btn_playerColor > div > svg,
    #btn_wallTopColor > div > svg,
    #btn_wallSideColor > div > svg,
    #btn_platformTopColor > div > svg,
    #btn_platformSideColor > div > svg,
    #btn_endZoneTopColor > div > svg,
    #btn_endZoneSideColor > div > svg,
    #btn_directLightColor > div > svg,
    #btn_ambientLightColor > div > svg {
        width: 10.1vw;
    }

    #btn_playerColor {
        bottom: 20%;
        width: 37vw;
    }

    #btn_backgroundColor {
        bottom: 20%;
        left: unset;
        right: 5%;
        width: 48.3vw;
    }

    #btn_directLightColor {
        right: unset;
        left: 5%;
        width: 43vw;
    }

    #btn_ambientLightColor {
        right: 5%;
        width: 43vw;
    }
}
