#ui_endScreen {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    border-radius: 2.8vw;
    display: flex;
    gap: 8px;
    padding: 16px;
    color: var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 8px 0 var(--uiBackgroundColor_pressed);
}

/* container for mapname and your time */
#ui_endScreen > :first-child {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    overflow: hidden;

    overflow-wrap: break-word;
    justify-content: center;
    gap: 16px;
}

#ui_endScreen .mapName {
    font-size: 3vw;
    line-height: 1;
}

#ui_endScreen .yourTime {
    font-size: 5vw;
    line-height: 0.9;
}

#ui_endScreen .yourRecord {
    font-size: 2vw;
}

#ui_endScreen .medalList {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    font-size: 2.2vw;
}

#ui_endScreen .medalList > div {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 6px;
    justify-content: end;
}

/* THESE ARE EXACT DUPLICATS OF WHATS IN MapBrowsers CSS */
#ui_endScreen .bronze::before,
#ui_endScreen .silver::before,
#ui_endScreen .gold::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-top: -4px;
    border-radius: 50%;
}

#ui_endScreen .gold::before {
    color: #f1b62c;
    background-color: #f1b62c;
    border: 3px solid #fde320;
    box-shadow: 0 3px 0 #f1b62c;
}

#ui_endScreen .silver::before {
    color: #8c9a9b;
    background-color: #8c9a9b;
    border: 3px solid #d4d4d6;
    box-shadow: 0 3px 0 #8c9a9b;
}

#ui_endScreen .bronze::before {
    color: #e6823e;
    background-color: #e6823e;
    border: 3px solid #f4a46f;
    box-shadow: 0 3px 0 #e6823e;
}

#ui_endScreen .activeMedal {
    font-size: 3vw;
    padding: 6px 0 6px 6px;
    box-shadow: 0 5px 0 var(--uiForegroundColor);
    border: 3px solid var(--uiForegroundColor);
    border-radius: 10px;
    margin-top: -4px;
}

#ui_endScreen .activeMedal::before {
    width: 24px !important;
    height: 24px !important;
    box-shadow: 0 4px !important;
}

@media (orientation: landscape) {
    /* adjustments for very small landscape screens */

    @media (width < 800px) {
        #ui_endScreen {
            padding: 8px;
        }
    }
}

@media (orientation: portrait) {
    #ui_endScreen {
        top: 35%;
        right: 28px;
        left: 28px;
        height: 180px;
        width: unset;
        transform: unset;
        bottom: unset;
        border-radius: 5.5vw;
    }

    #ui_endScreen .mapName {
        font-size: 6vw;
    }

    #ui_endScreen .yourTime {
        font-size: 10vw;
    }

    #ui_endScreen .yourRecord {
        font-size: 4vw;
    }

    #ui_endScreen .medalList {
        font-size: 5vw;
    }

    #ui_endScreen .activeMedal {
        font-size: 6vw;
    }
}
