:root {
    /* UI VARIABLE COLORS */
    --lightColor_1: #f5f5f5;
    --lightColor_2: #dedede;
    --darkColor_1: #454545;
    --darkColor_2: #363636;

    --uiForegroundColor: var(--darkColor_1);
    --uiForegroundColor_pressed: var(--darkColor_2);
    --uiBackgroundColor: var(--lightColor_1);
    --uiBackgroundColor_pressed: var(--lightColor_2);
}

* {
    /* from cordova default css file */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    touch-action: none;
    touch-action-delay: none;
    user-select: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Alte DIN";
    src: url("../assets/fonts/din1451alt.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINish";
    src:
        url("../assets/fonts/DINish-Medium.woff2") format("woff2"),
        url("../assets/fonts/DINish-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINish";
    src:
        url("../assets/fonts/DINish-Bold.woff2") format("woff2"),
        url("../assets/fonts/DINish-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    overflow: hidden;
    /* padding: env(safe-area-inset); */
}

body {
    /* all these are from cordova's default css file*/
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    /* padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px); */
    /* background-color: #a3d5e1; kill */
    background-image: linear-gradient(#8fceff, #3f92d3);
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#ui-container {
    font-family: "Alte DIN", sans-serif; /* DINish */
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.hidden {
    display: none !important;
}
