:root {
    /* UI VARIABLE COLORS */
    --lightColor_1: #f5f5f5;
    --lightColor_2: #dedede;
    --darkColor_1: #454545;
    --darkColor_2: #363636;

    --uiForegroundColor: var(--darkColor_1);
    --uiForegroundColor_pressed: var(--darkColor_2);
    --uiBackgroundColor: var(--lightColor_1);
    --uiBackgroundColor_pressed: var(--lightColor_2);
}

* {
    /* from cordova default css file */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    touch-action: none;
    touch-action-delay: none;
    user-select: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "BAHNSCHRIFT";
    src: url("../assets/BAHNSCHRIFT.TTF");
}

html,
body {
    margin: 0;
    overflow: hidden;
    /* background: red; */
    /* padding: env(safe-area-inset); */
}

body {
    /* all these are from cordova's default css file*/
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    /* padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px); */
    background-color: #a3d5e1;
}

canvas {
    position: absolute;
    /* background: purple; */
}

#ui-container {
    font-family: "BAHNSCHRIFT";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2; /* FIX change to 1 once other ui canvas is removed */
}

.hidden {
    display: none !important;
}

/* BUTTONS */

button {
    all: unset;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;

    --myForegroundColor: var(--uiForegroundColor);
    --myBackgroundColor: var(--uiBackgroundColor);
}

button > div {
    /* this is the "face" of the button */
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    border: 3px solid;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    transition: top 100ms cubic-bezier(0.31, 0.52, 0.48, 1.81);
}

button > div > svg {
    width: 100%;
    height: 100%;
}

button > div::after {
    /* this is the shadow/side of the button */
    content: "";
    position: absolute;
    top: 5px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background-color: var(--uiForegroundColor);
    z-index: -1;
    transition: top 100ms cubic-bezier(0.31, 0.52, 0.48, 1.81);
    border-radius: inherit;
}

button.short-button > div::after {
    /* keep this after the rules for the main button */
    top: 3px;
}

button.pressed {
    --myForegroundColor: var(--uiForegroundColor_pressed);
    --myBackgroundColor: var(--uiBackgroundColor_pressed);
}

button.pressed > div {
    background-color: var(--uiBackgroundColor_pressed);
    color: var(--uiForegroundColor_pressed);
    top: 5px;
    transition: top 0ms;
}

button.short-button.pressed > div {
    top: 3px;
}

button.pressed > div::after {
    background-color: var(--uiForegroundColor_pressed);
    top: 0px;
    transition: top 0ms;
}

/* TOGGLES SWITCHES */

.toggle-container {
    /* border: 1px solid red; */
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    touch-action: none;
}

.toggle {
    border: 3px solid var(--uiForegroundColor);
    border-radius: 99px;
    box-shadow: 0px 4px var(--uiForegroundColor);
    position: relative;
    width: 64px;
    height: 32px;
    padding: 0px 2px 0px 2px;
    background-color: var(--uiBackgroundColor);
    transition: background-color 200ms;
}

.toggle:before {
    /* this :before is the handle that moves back and forth */
    position: absolute;
    box-sizing: border-box; /* not inherited for some reason*/
    content: "";
    height: 27px;
    width: 27px;
    bottom: 5px;
    border: 3px solid var(--uiForegroundColor);
    border-radius: 99px;
    box-shadow: 0 3px 0 var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    transition: transform 200ms cubic-bezier(0.2, 0.32, 0.62, 1.68);
}

.toggle-container.toggled .toggle {
    background-color: rgb(134, 213, 240);
}

.toggle-container.toggled .toggle:before {
    transform: translateX(100%);
}

.toggle-container.pressed .toggle:before {
    background-color: var(--uiBackgroundColor_pressed);
    box-shadow: 0 1px 0 var(--uiForegroundColor);
    bottom: 3px;
}

.toggle-container .label {
    color: var(--uiForegroundColor);
    font-size: 24px;
    user-select: none;
}

/* SLIDERS */
.slider {
    position: relative;
    width: 200px;
}

.slider > .label {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    user-select: none;
    -webkit-user-select: none;
    color: var(--uiForegroundColor);
}

.track {
    width: 100%;
    padding: 0 13px;
    height: 8px;
    background: var(--uiForegroundColor);
    border-radius: 4px;
}

.handle {
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    left: var(--pos);
    transform: translateX(calc(-1 * var(--pos)));
    margin-top: -14px;
    border: 3px solid var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 3px 0 var(--uiForegroundColor);
}

.handle.pressed {
    background-color: var(--uiBackgroundColor_pressed);
    box-shadow: 0 0 0 var(--uiForegroundColor);
    margin-top: -11px;
}

/* 
INDIVIDUAL BUTTON STYLES
*/

/* MAIN MENU */
#main-menu-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#menu-background {
    position: fixed;
    width: 100%;
    height: auto;
}

#main-title {
    /* this is not using responsive colors */
    color: var(--lightColor_1);
    font-size: 108px;
    margin: 0;
    font-weight: 400;
    line-height: 0.75;
    text-shadow: 0px 4px 0 var(--lightColor_2);
}

#btn_play {
    width: 110px;
    height: 64px;
    font-size: 32px;
}

#btn_settings {
    width: 166px;
    height: 64px;
    font-size: 32px;
}

#btn_mapEditor {
    width: 222px;
    height: 64px;
    font-size: 32px;
}

/* SETTINGS */
#btn_sensitivitySlider {
    position: absolute;
    top: 40px;
    left: 160px;
    width: 320px;
}

#btn_volumeSlider {
    position: absolute;
    top: 128px;
    left: 160px;
    width: 320px;
}

#btn_debugText {
    position: absolute;
    width: 320px;
    left: 160px;
    top: 228px;
}

#btn_strafeHUD {
    position: absolute;
    width: 320px;
    left: 160px;
    top: 300px;
}

#btn_resetSettings {
    font-size: 20px;
    position: absolute;
    width: 180px;
    right: 44px;
    bottom: 40px;
    line-height: 1.1;
    height: 64px;
}

/* IN LEVEL */
#ui_speedometer {
    font-size: 20px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    /* should add a color variable but not sure which:  */
    /* color: var(--uiForegroundColor); */
}

#ui_timerBox {
    position: fixed;
    top: 40px;
    right: 44px;
    padding: 16px;
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 8px 0 var(--uiBackgroundColor_pressed);
    border-radius: 16px;
    color: var(--uiForegroundColor);
    font-size: 20px;
}

#ui_strafeHelper {
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 72px;
    width: 300px;
    height: 14px;
    border-radius: 99px;
    outline: 4px solid var(--uiBackgroundColor);
}

#strafeHandle {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--uiBackgroundColor);
    border-radius: 50%;
    transform: translateX(-50%);
}

#ui_verticalWarning {
    position: fixed;
    left: calc(50% - (190px / 2));
    transform: translateX(-50%);
    bottom: 108px;
    width: 190px;
    height: 28px;
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 0 var(--uiBackgroundColor_pressed);
    animation: pulse 800ms infinite;
    text-align: center;
    align-content: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

#btn_mainMenu {
    position: fixed;
    left: 44px;
    top: 40px;
    width: 68px;
    height: 68px;
}

#btn_restart {
    position: fixed;
    left: 44px;
    top: 128px;
    width: 68px;
    height: 68px;
}

#btn_jump {
    position: fixed;
    left: 44px;
    bottom: 40px;
    width: 96px;
    height: 96px;
}

/* TUTORIAL  */

#ui_tutorialTextWrapper {
    position: fixed;
    display: flex;
    top: 36px;
    width: 100%;
    justify-content: center;
}

#ui_tutorialText {
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    font-size: 22px;
    padding: 14px 24px;
    border-radius: 16px;
    box-shadow: 0 8px var(--uiBackgroundColor_pressed);
}

#btn_next {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 16px;

    width: 60px;
    height: 60px;
    animation: pulse 800ms infinite;
}

.zero-opacity {
    opacity: 0 !important;
    transition: none !important;
}

#tutorial_swipe {
    animation: swipeX 4s infinite cubic-bezier(0.3, 0, 0.7, 1);
    position: fixed;
    right: 44%;
    bottom: 10%;
    width: 120px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    z-index: 1;
}

#tutorial_swipeVertical {
    animation: swipeY 2.5s infinite cubic-bezier(0.3, 0, 0.7, 1);
    position: fixed;
    left: 26%;
    bottom: 18%;
    width: 110px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

#tutorial_arrow {
    animation: arrowPoint 2s infinite ease-in-out;
    position: fixed;
    left: 172px;
    bottom: 56px;
    width: 88px;
}

@keyframes swipeX {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes swipeY {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes arrowPoint {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

#target-center {
    --angle: 0deg;

    position: fixed;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: rotate(var(--angle));
}

#target {
    position: fixed;
    margin-left: 32px;
    margin-top: -32px;
    transform: rotate(calc(-1 * var(--angle)));
}

/* STANDARD MAP BROWSER (and ENDSCREEN) */

#btn_customMaps {
    position: fixed;
    top: 40px;
    right: 44px;
    width: 240px;
    height: 64px;
    font-size: 32px;
}

#btn_playMap {
    position: fixed;
    right: 44px;
    bottom: 40px;
    width: 110px;
    height: 64px;
    font-size: 32px;
}

#btn_playTutorial {
    position: absolute;
    width: 212px;
    right: 192px;
    bottom: 54px;
}

.map-list-container {
    position: fixed;
    top: 0;
    left: 120px;
    width: 320px;
    height: 100%;
    padding: 40px 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.map-list-container button {
    width: 256px;
    height: 128px;
}

.map-list-container button > div {
    border-radius: 16px;
    font-size: 24px;
}

#custom-map-browser-info {
    position: fixed;
    top: 40px;
    right: 44px;
    padding: 16px;
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 8px 0 var(--uiBackgroundColor_pressed);
    border-radius: 16px;
    color: var(--uiForegroundColor);
    font-size: 20px;
    width: 400px;
    text-align: center;
}

.btn_customMap span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}

#ui_mapInfoBox,
#ui_endScreen {
    position: fixed;
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    width: 400px;
    height: 162px;
    border-radius: 24px;
    display: flex;
    gap: 8px;
    padding: 16px;
    box-shadow: 0 8px 0 var(--uiBackgroundColor_pressed);
}

#ui_mapInfoBox {
    top: 128px;
    right: 44px;
}

#ui_endScreen {
    width: 448px;
    height: 204px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#ui_mapInfoBox > :first-child,
#ui_endScreen > :first-child {
    display: flex;
    width: 100%;
    /* overflow-x: hidden; */
    overflow-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#ui_mapInfoBox .mapName {
    font-size: 32px;
    line-height: 1.1;
    overflow: hidden;
}

#ui_endScreen .mapName {
    font-size: 32px;
    line-height: 1;
}

#ui_mapInfoBox .yourTime {
    font-size: 20px;
}

#ui_endScreen .yourTime {
    font-size: 58px;
    line-height: 0.9;
}

#ui_endScreen .yourRecord {
    font-size: 22px;
}

/* #ui_mapInfoBox .medalList { */
.medalList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 24px;
    gap: 10px;
}

#ui_endScreen .medalList {
    gap: 18px;
}

/* #ui_mapInfoBox .medalList > div { */
.medalList > div {
    display: flex;
    gap: 8px;
    justify-content: end;
    align-items: center;
    padding-right: 6px;
    justify-content: space-between;
    width: 128px;
}

.bronze::before,
.silver::before,
.gold::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-top: -4px;
    border-radius: 50%;
}

.gold::before {
    color: #f1b62c;
    background-color: #f1b62c;
    border: 3px solid #fde320;
    box-shadow: 0 3px 0 #f1b62c;
}

.silver::before {
    color: #8c9a9b;
    background-color: #8c9a9b;
    border: 3px solid #d4d4d6;
    box-shadow: 0 3px 0 #8c9a9b;
}

.bronze::before {
    color: #e6823e;
    background-color: #e6823e;
    border: 3px solid #f4a46f;
    box-shadow: 0 3px 0 #e6823e;
}

.activeMedal {
    font-size: 30px;
    padding: 6px 0 6px 6px;
    box-shadow: 0 5px 0 var(--uiForegroundColor);
    border: 3px solid var(--uiForegroundColor);
    border-radius: 10px;
    margin-top: -4px;
    width: 170px !important;
}

.activeMedal::before {
    width: 24px !important;
    height: 24px !important;
    box-shadow: 0 4px !important;
}

/* MAP EDITOR MAP BROWSER */
#btn_newMap {
    position: fixed;
    top: 40px;
    right: 268px;
    width: 168px;
    height: 64px;
    font-size: 32px;
}

#btn_importMap {
    position: fixed;
    top: 40px;
    right: 44px;
    width: 200px;
    height: 64px;
    font-size: 32px;
}

#btn_editMap {
    position: fixed;
    bottom: 40px;
    right: 220px;
    width: 168px;
    height: 64px;
    font-size: 32px;
}

#btn_shareMap {
    position: fixed;
    right: 132px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    touch-action: manipulation; /* allow native touch events for share button */
}

#btn_deleteMap {
    position: fixed;
    right: 44px;
    bottom: 40px;
    width: 64px;
    height: 64px;
}

/* Map Editor Main Interface */
#btn_exitMapEditor {
    position: fixed;
    left: 44px;
    top: 40px;
    width: 68px;
    height: 68px;
}

#btn_addPlatform {
    position: fixed;
    right: 44px;
    top: 40px;
    width: 190px;
    height: 56px;
    font-size: 20px;
}

#btn_addCheckpoint {
    position: fixed;
    right: 44px;
    top: 114px;
    width: 190px;
    height: 56px;
    font-size: 20px;
}

#btn_mapSettings {
    position: fixed;
    right: 44px;
    top: 188px;
    width: 160px;
    height: 56px;
    font-size: 20px;
}

#btn_mapColors {
    position: fixed;
    right: 44px;
    top: 262px;
    width: 160px;
    height: 56px;
    font-size: 20px;
}

#btn_dragSelect {
    position: fixed;
    height: 60px;
    left: 44px;
    bottom: 216px;
    flex-direction: column;
    align-items: start;
}

#btn_multiSelect {
    position: fixed;
    height: 60px;
    left: 44px;
    bottom: 128px;
    flex-direction: column;
    align-items: start;
}

#btn_dragSelect > .label,
#btn_multiSelect > .label {
    font-size: 16px;
}

#btn_snappingSlider {
    position: absolute;
    bottom: 48px;
    left: 44px;
    width: 200px;
}

#btn_snappingSlider > .label {
    font-size: 16px;
}

#btn_translate,
#btn_resize_TL,
#btn_resize_TR,
#btn_resize_BL,
#btn_resize_BR {
    position: fixed;
    width: 38px;
    height: 38px;
}

#ui_editorSidePanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 44px;
    top: 22px;
    width: 218px;
    /* size and pos needs to align with map editor touch released values */
    border-radius: 27.5px;
    padding: 10px;
    padding-bottom: 24px;
    gap: 12px;

    color: var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    z-index: 1;
}

#element-title-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

#ui_elementTitle {
}

#ui_elementInfo {
    line-height: 1.5;
}

#btn_unselect {
    width: 44px;
    height: 44px;
}

#btn_platformAngleSlider,
#btn_playerAngleSlider,
#btn_checkpointAngleSlider {
    width: 100%;
    margin-bottom: 6px;
}

#btn_platformAngleSlider > .label,
#btn_playerAngleSlider > .label,
#btn_checkpointAngleSlider > .label {
    font-size: 16px;
    margin-bottom: 14px;
    /* text-align: center; */
}

#btn_wall,
#btn_endzone {
    width: 100%;
}

#btn_wall > .label,
#btn_endzone > .label {
    font-size: 16px;
}

#btn_duplicateElements {
    position: fixed;
    right: 112px;
    bottom: 40px;
    width: 148px;
    height: 56px;
    font-size: 22px;
}

#btn_deleteElements {
    position: fixed;
    right: 44px;
    bottom: 40px;
    width: 56px;
    height: 56px;
}

/* Map Settings Sliders */

#btn_platformHeightSlider {
    position: fixed;
    top: 40px;
    right: 60px;
    width: 320px;
}

#btn_wallHeightSlider {
    position: fixed;
    top: 128px;
    right: 60px;
    width: 320px;
}

#btn_lightDirectionSlider {
    position: fixed;
    top: 216px;
    right: 60px;
    width: 320px;
}

#btn_lightPitchSlider {
    position: fixed;
    top: 304px;
    right: 60px;
    width: 320px;
}
