@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-60%);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(60%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

#btn_mainMenu {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 7.5vw;
    height: 7.5vw;
}

#btn_restart {
    position: fixed;
    left: 5%;
    top: 26%;
    width: 7.5vw;
    height: 7.5vw;
}

#btn_jump {
    position: fixed;
    left: 5%;
    bottom: 5%;
    width: 10.7vw;
    height: 10.7vw;
    animation: pulse 800ms infinite;
}

#ui_timerBox {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 1.3vw 1.7vw;
    border-radius: 1.7vw;
    font-size: 2.2vw;
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 0.9vw 0 var(--uiBackgroundColor_pressed);
    color: var(--uiForegroundColor);
}

#ui_speedometer {
    font-size: 2.2vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "DINish", monospace;
    font-variant-numeric: tabular-nums;
}

#ui_jumpStats {
    font-size: 2.2vw;
    position: absolute;
    top: 5%;
    left: 56%;
    font-family: "DINish", monospace;
    font-variant-numeric: tabular-nums;
    opacity: 0;
    transform: translateY(0);
}

#ui_strafeHelper {
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17%;
    width: 33vw;
    height: 1.6vw;
    border-radius: 10vw;
    outline: 0.5vw solid var(--uiBackgroundColor);
}

#strafeHandle {
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
    background-color: var(--uiBackgroundColor);
    border-radius: 50%;
    transform: translateX(-50%);
}

#ui_warningContainer {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 26%;
}

#ui_verticalWarning,
#ui_overstrafeWarning {
    width: 21vw;
    height: 3.1vw;
    background-color: var(--uiBackgroundColor);
    color: var(--uiForegroundColor);
    font-size: 1.8vw;
    border-radius: 0.9vw;
    box-shadow: 0 0.4vw 0 var(--uiBackgroundColor_pressed);
    animation: pulse 800ms infinite;
    text-align: center;
    align-content: center;
}

#ui_debugText {
    position: fixed;
    top: 5%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1vw;
    color: white;
    padding: 1vw;
    font-size: 1vw;
    white-space: pre;
    line-height: 1.3;
    z-index: 10;
    font-family: "DINish", monospace;
    font-variant-numeric: tabular-nums;
}

@media (orientation: portrait) {
    #btn_mainMenu {
        top: 7%;
        width: 15.5vw;
        height: 15.5vw;
    }

    #btn_restart {
        top: 19%;
        width: 15.5vw;
        height: 15.5vw;
    }

    #btn_jump {
        bottom: 8%;
        width: 23vw;
        height: 23vw;
    }

    #ui_timerBox {
        top: unset;
        bottom: 8%;
        padding: 2.8vw 3.7vw;
        border-radius: 3.7vw;
        font-size: 4.8vw;
        box-shadow: 0 1.9vw 0 var(--uiBackgroundColor_pressed);
    }

    #ui_speedometer {
        font-size: 4.8vw;
    }

    #ui_jumpStats {
        font-size: 4.8vw;
        left: 64%;
    }

    #ui_strafeHelper {
        bottom: 22%;
        width: 75vw;
        height: 3.4vw;
        outline: 1vw solid var(--uiBackgroundColor);
    }

    #strafeHandle {
        width: 3.4vw;
        height: 3.4vw;
    }

    #ui_warningContainer {
        gap: 2.9vw;
    }

    #ui_verticalWarning,
    #ui_overstrafeWarning {
        width: 46vw;
        height: 6.8vw;
        font-size: 3.9vw;
        border-radius: 1.9vw;
        box-shadow: 0 1vw 0 var(--uiBackgroundColor_pressed);
    }

    #ui_debugText {
        top: 7%;
        left: 25%;
        border-radius: 2vw;
        padding: 2vw;
        font-size: 2.2vw;
    }
}