#menu-background {
    position: fixed;
    width: 100%;
    height: auto;
}

#main-title {
    position: fixed;
    top: 28px;
    line-height: 1;
    margin: 0;
    width: 100%;
    text-align: center;
    color: var(--lightColor_1);
    font-size: 108px;
    font-weight: 400;
    text-shadow: 0px 4px 0 var(--lightColor_2);
}

#btn_play {
    position: fixed;
    top: 150px;
    left: calc(50% - 55px);
    width: 110px;
    height: 64px;
    font-size: 32px;
}

#btn_settings {
    position: fixed;
    top: 230px;
    left: calc(50% - 83px);
    width: 166px;
    height: 64px;
    font-size: 32px;
}

#btn_mapEditor {
    position: fixed;
    top: 310px;
    left: calc(50% - 111px);
    width: 222px;
    height: 64px;
    font-size: 32px;
}

@media (orientation: portrait) {
    #menu-background {
        bottom: -130px;
    }

    #main-title {
        top: 164px;
        font-size: 90px;
    }

    #btn_play {
        top: 320px;
    }

    #btn_settings {
        top: 410px;
    }

    #btn_mapEditor {
        top: 500px;
    }
}
