#main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 4%;
}

#menu-background {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: -2;
}

#main-title {
    line-height: 0.7;
    margin: 0;
    margin-bottom: 1%;
    text-align: center;
    color: var(--lightColor_1);
    font-size: 24vh;
    font-weight: 400;
    text-shadow: 0px 4px 0 var(--lightColor_2);
}

#btn_play {
    width: 110px;
    height: 64px;
    font-size: 32px;
}

#btn_settings {
    width: 166px;
    height: 64px;
    font-size: 32px;
}

#btn_mapEditor {
    width: 222px;
    height: 64px;
    font-size: 32px;
}

@media (orientation: landscape) {
    @media (height < 360px) {
        #btn_play {
            /* font-size:12px; */
        }
    }
}

@media (orientation: portrait) {
    #main-menu-container {
        height: 80%;
    }

    #main-title {
        font-size: 22vw;
    }
}
