#main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 4%;
}

#menu-background {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: -2;
}

#main-title {
    line-height: 0.7;
    margin: 0;
    margin-bottom: 1%;
    text-align: center;
    color: var(--lightColor_1);
    font-size: 11vw;
    font-weight: 400;
    text-shadow: 0 0.4vw 0 var(--lightColor_2);
}

#btn_play {
    width: 12.3vw;
    height: 7.1vw;
    font-size: 3.6vw;
}

#btn_settings {
    width: 18.5vw;
    height: 7.1vw;
    font-size: 3.6vw;
}

#btn_mapEditor {
    width: 24.8vw;
    height: 7.1vw;
    font-size: 3.6vw;
}

@media (orientation: portrait) {
    #main-menu-container {
        height: 90%;
        gap: 5%;
    }
    #main-title {
        font-size: 20vw;
        text-shadow: 0 1vw 0 var(--lightColor_2);
    }
    #btn_play {
        width: 26.6vw;
        height: 15.5vw;
        font-size: 7.7vw;
    }

    #btn_settings {
        width: 40.1vw;
        height: 15.5vw;
        font-size: 7.7vw;
    }
    #btn_mapEditor {
        width: 53.6vw;
        height: 15.5vw;
        font-size: 7.7vw;
    }
}
