/* MAP BROWSER BUTTONS */

#btn_customMaps {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 26.8vw;
    height: 7.1vw;
    font-size: 3.6vw;
}

#btn_playMap {
    position: fixed;
    right: 5%;
    bottom: 6%;
    width: 12.3vw;
    height: 7.1vw;
    font-size: 3.6vw;
}

#btn_playTutorial {
    position: absolute;
    width: 14vw;
    right: 20%;
    bottom: 6%;
    flex-direction: column;
}

#btn_playTutorial > .label {
    font-size: 2.2vw;
    margin-bottom: 1.1vw;
}

#btn_newMap {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 19vw;
    height: 7.1vw;
    font-size: 3.2vw;
}

#btn_importMap {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 23vw;
    height: 7.1vw;
    font-size: 3.2vw;
}

#btn_editMap {
    position: fixed;
    bottom: 6%;
    left: 50%;
    width: 19vw;
    height: 7.1vw;
    font-size: 3.2vw;
}

#btn_shareMap {
    position: fixed;
    right: 15%;
    bottom: 6%;
    width: 7.1vw;
    height: 7.1vw;
    touch-action: manipulation; /* allow native touch events for share button */
}

#btn_deleteMap {
    position: fixed;
    right: 5%;
    bottom: 6%;
    width: 7.1vw;
    height: 7.1vw;
}

/* INFO ON WHERE TO CREATE AND IMPORT MAPS (Rename this) */
#custom-map-browser-info {
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 0.9vw 0 var(--uiBackgroundColor_pressed);
    color: var(--uiForegroundColor);
    border-radius: 1.7vw;
    font-size: 2vw;
    width: 45%;
    height: 6vw;
    text-align: center;
    align-content: center;
}

/* SCROLLING MAP LIST */
/* this class styles standard map browser and custom map browser objects*/
.map-list-container {
    /*     border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 13%;
    width: 37%;
    height: 100%;
    padding: 4vw 2vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4vw;
}

.map-list-container button {
    width: 100%;
    aspect-ratio: 2/1;
}

.map-list-container button > div {
    border-radius: 1.8vw;
    font-size: 2.7vw;
}

.btn_customMap span {
    /* Map name within a custom map button created dynamically  */
    position: absolute;
}

/* MAP INFO BOX */
#ui_mapInfoBox {
    position: fixed;
    top: 28%;
    bottom: 28%;
    right: 5%;
    left: 50%;
    border-radius: 2.6vw;
    display: flex;
    gap: 0.9vw;
    padding: 1.8vw;
    color: var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    box-shadow: 0 0.9vw 0 var(--uiBackgroundColor_pressed);
}

/* container for mapname and your time */
#ui_mapInfoBox > :first-child {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    overflow: hidden;
    overflow-wrap: break-word;
    justify-content: center;
    gap: 1.8vw;
    /*     border: 1px solid pink */
}

#ui_mapInfoBox .mapName {
    font-size: 3.8vw;
    line-height: 1.1;
}

#ui_mapInfoBox .yourTime {
    font-size: 2.3vw;
}

#ui_mapInfoBox .medalList {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    font-size: 2.5vw;
    font-family: "DINish", monospace;
    font-variant-numeric: tabular-nums;
    /*     border: 1px solid blue; */
}

#ui_mapInfoBox .medalList > div {
    /*         border: 1px solid red; */
    display: flex;
    gap: 1.2vw;
    padding-right: 1vw;
    padding-left: 1vw;
    align-items: center;
    justify-content: end;
}

#ui_mapInfoBox .bronze::before,
#ui_mapInfoBox .silver::before,
#ui_mapInfoBox .gold::before {
    content: "";
    width: 1.8vw;
    height: 1.8vw;
    margin-top: -0.4vw;
    border-radius: 50%;
}

#ui_mapInfoBox .gold::before {
    color: #f1b62c;
    background-color: #f1b62c;
    border: 0.35vw solid #fde320;
    box-shadow: 0 0.35vw #f1b62c;
}

#ui_mapInfoBox .silver::before {
    color: #8c9a9b;
    background-color: #8c9a9b;
    border: 0.35vw solid #d4d4d6;
    box-shadow: 0 0.35vw #8c9a9b;
}

#ui_mapInfoBox .bronze::before {
    color: #e6823e;
    background-color: #e6823e;
    border: 0.35vw solid #f4a46f;
    box-shadow: 0 0.35vw #e6823e;
}

#ui_mapInfoBox .activeMedal {
    font-size: 3.4vw;
    padding: 0.7vw;
    box-shadow: 0 0.6vw var(--uiBackgroundColor_pressed);
    border: 0.35vw solid var(--uiForegroundColor);
    border-radius: 1.8vw;
    margin-top: -0.4vw;
}

#ui_mapInfoBox .activeMedal::before {
    width: 2.7vw !important;
    height: 2.7vw !important;
    box-shadow: 0 0.4vw !important;
}

@media (orientation: portrait) {
    #btn_customMaps {
        top: 7%;
        width: 58vw;
        height: 15.5vw;
        font-size: 7.7vw;
    }

    #btn_playMap {
        right: 5%;
        bottom: 6%;
        width: 26.6vw;
        height: 15.5vw;
        font-size: 7.7vw;
    }

    #btn_playTutorial {
        width: 30vw;
        right: 50%;
        transform: translateX(50%);
        bottom: 6%;
    }

    #btn_playTutorial > .label {
        font-size: 4.8vw;
        margin-bottom: 2.4vw;
    }

    #btn_newMap {
        top: 7%;
        left: unset;
        right: 45%;
        width: 31.4vw;
        height: 15.5vw;
        font-size: 5.8vw;
    }

    #btn_importMap {
        top: 7%;
        right: 5%;
        width: 37.7vw;
        height: 15.5vw;
        font-size: 5.8vw;
    }

    #btn_editMap {
        left: 5%;
        width: 38vw;
        height: 15.5vw;
        font-size: 5.8vw;
    }

    #btn_shareMap {
        right: 25%;
        width: 15.5vw;
        height: 15.5vw;
    }

    #btn_deleteMap {
        width: 15.5vw;
        height: 15.5vw;
    }

    #custom-map-browser-info {
        top: 8%;
        padding: 0 8vw;
        box-shadow: 0 1.9vw var(--uiBackgroundColor_pressed);
        border-radius: 3.8vw;
        font-size: 4.3vw;
        width: 60%;
        height: 15vw;
    }

    /* .CLASS covers both standard map browser and custom map browser */
    .map-list-container {
        top: 38%;
        width: unset;
        left: 5%;
        right: 5%;
        border-radius: 5vw;
        height: auto;
        bottom: 16%;
        padding: 8vw 5vw;
        gap: 6vw;
        background-color: var(--uiBackgroundColor);
        box-shadow: 0 1.9vw var(--uiBackgroundColor_pressed);
    }

    .map-list-container::after {
        pointer-events: none;
        content: "";
        position: fixed;
        bottom: 16%;
        left: 5%;
        right: 5%;
        height: 4%;
        border-radius: 0 0 5vw 5vw;
        /*         border:1px solid red; */
        background: linear-gradient(
            to top,
            rgba(245, 245, 245, 1) 0%,
            rgba(245, 245, 245, 0.987) 8.1%,
            rgba(245, 245, 245, 0.951) 15.5%,
            rgba(245, 245, 245, 0.896) 22.5%,
            rgba(245, 245, 245, 0.825) 29%,
            rgba(245, 245, 245, 0.741) 35.3%,
            rgba(245, 245, 245, 0.648) 41.2%,
            rgba(245, 245, 245, 0.55) 47.1%,
            rgba(245, 245, 245, 0.45) 52.9%,
            rgba(245, 245, 245, 0.352) 58.8%,
            rgba(245, 245, 245, 0.259) 64.7%,
            rgba(245, 245, 245, 0.175) 71%,
            rgba(245, 245, 245, 0.104) 77.5%,
            rgba(245, 245, 245, 0.049) 84.5%,
            rgba(245, 245, 245, 0.013) 91.9%,
            rgba(245, 245, 245, 0) 100%
        );
    }

    .map-list-container button > div {
        border-radius: 3.9vw;
        font-size: 5.8vw;
    }

    #ui_mapInfoBox {
        top: 18%;
        bottom: 64%;
        left: 5%;
        border-radius: 5.8vw;
        gap: 1.9vw;
        padding: 3.9vw;
        box-shadow: 0 1.9vw 0 var(--uiBackgroundColor_pressed);
    }

    #ui_mapInfoBox > :first-child {
        gap: 3.9vw;
    }

    #ui_mapInfoBox .mapName {
        /* 8.2vw matches the 34px font size on landscape */
        font-size: 7.6vw;
    }

    #ui_mapInfoBox .yourTime {
        font-size: 4.9vw;
    }

    #ui_mapInfoBox .medalList {
        font-size: 4.9vw;
    }

    #ui_mapInfoBox .medalList > div {
        gap: 2vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }

    #ui_mapInfoBox .bronze::before,
    #ui_mapInfoBox .silver::before,
    #ui_mapInfoBox .gold::before {
        width: 3.9vw;
        height: 3.9vw;
        margin-top: -1vw;
    }

    #ui_mapInfoBox .gold::before {
        border: 0.76vw solid #fde320;
        box-shadow: 0 0.76vw #f1b62c;
    }

    #ui_mapInfoBox .silver::before {
        border: 0.76vw solid #d4d4d6;
        box-shadow: 0 0.76vw #8c9a9b;
    }

    #ui_mapInfoBox .bronze::before {
        border: 0.76vw solid #f4a46f;
        box-shadow: 0 0.76vw #e6823e;
    }

    #ui_mapInfoBox .activeMedal {
        font-size: 6.5vw;
        padding: 1.4vw;
        box-shadow: 0 1.2vw var(--uiBackgroundColor_pressed);
        border: 0.76vw solid var(--uiForegroundColor);
        border-radius: 3.3vw;
        margin-top: -1vw;
    }

    #ui_mapInfoBox .activeMedal::before {
        width: 5.8vw !important;
        height: 5.8vw !important;
        box-shadow: 0 1vw !important;
    }
}
