/* Map Editor Main Interface */

#btn_exitMapEditor {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 7.5vw;
    height: 7.5vw;
}

#btn_addPlatform,
#btn_addCheckpoint,
#btn_mapSettings,
#btn_mapColors {
    position: fixed;
    right: 5%;
    height: 6.3vw;
    font-size: 2.2vw;
}

#btn_addPlatform {
    top: 5%;
    width: 21.2vw;
}

#btn_addCheckpoint {
    top: 25%;
    width: 21.2vw;
}

#btn_mapSettings {
    top: 45%;
    width: 17.9vw;
}

#btn_mapColors {
    top: 65%;
    width: 17.9vw;
}

#btn_dragSelect,
#btn_multiSelect {
    position: fixed;
    height: 6.7vw;
    left: 5%;
    flex-direction: column;
    align-items: start;
}

#btn_dragSelect {
    top: 32%;
}

#btn_multiSelect {
    top: 54%;
}

#btn_dragSelect > .label,
#btn_multiSelect > .label,
#btn_snappingSlider > .label {
    font-size: 1.8vw;
}

#btn_snappingSlider {
    position: fixed;
    bottom: 12%;
    left: 5%;
    width: 22.3vw;
}

#btn_translate,
#btn_resize_TL,
#btn_resize_TR,
#btn_resize_BL,
#btn_resize_BR {
    position: fixed;
    width: 4.2vw;
    height: 4.2vw;
}

#ui_editorSidePanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 5%;
    top: 5%;
    width: 25%;
    border-radius: 3.1vw;
    padding: 1.1vw;
    gap: 0.8vw;
    color: var(--uiForegroundColor);
    background-color: var(--uiBackgroundColor);
    z-index: 1;
    font-size: 1.8vw;
    box-shadow: 0 0.9vw 0 var(--uiBackgroundColor_pressed);
}

#element-title-box {
    display: flex;
    flex-direction: row;
    gap: 1.3vw;
    align-items: center;
    margin-bottom: 1vw;
}

#ui_elementInfo {
    line-height: 1.5;
}

#btn_unselect {
    width: 4.9vw;
    height: 4.9vw;
}

#btn_platformAngleSlider,
#btn_playerAngleSlider,
#btn_checkpointAngleSlider {
    width: 100%;
    margin-bottom: 1.6vw;
}

#btn_platformAngleSlider > .label,
#btn_playerAngleSlider > .label,
#btn_checkpointAngleSlider > .label {
    font-size: 1.8vw;
    margin-bottom: 1.6vw;
}

#btn_wall {
    width: 100%;
    margin-bottom: 1.6vw;
}

#btn_endzone {
    width: 100%;
    margin-bottom: 0.8vw;
}

#btn_wall > .label,
#btn_endzone > .label {
    font-size: 1.8vw;
}

#btn_duplicateElements {
    position: fixed;
    right: 13%;
    bottom: 10%;
    width: 16.5vw;
    height: 6.25vw;
    font-size: 2.5vw;
}

#btn_deleteElements {
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 6.25vw;
    height: 6.25vw;
}

#ui_dragSelectMarquee {
    position: fixed;
    border: 0.5vw dotted var(--uiForegroundColor);
}

/* Map Settings Sliders */

#btn_platformHeightSlider,
#btn_wallHeightSlider,
#btn_lightDirectionSlider,
#btn_lightPitchSlider {
    position: fixed;
    right: 5%;
    width: 40%;
}

#btn_platformHeightSlider {
    top: 10%;
}

#btn_wallHeightSlider {
    top: 30%;
}

#btn_lightDirectionSlider {
    top: 50%;
}

#btn_lightPitchSlider {
    top: 70%;
}

@media (orientation: portrait) {
    #btn_exitMapEditor {
        top: 7%;
        width: 15.5vw;
        height: 15.5vw;
    }

    #btn_addPlatform,
    #btn_addCheckpoint,
    #btn_mapSettings,
    #btn_mapColors {
        top: unset;
        height: 13.5vw;
        font-size: 4.8vw;
    }

    #btn_addPlatform {
        right: unset;
        left: 5%;
        bottom: 16%;
        width: 45.9vw;
    }

    #btn_addCheckpoint {
        right: unset;
        left: 5%;
        bottom: 7%;
        width: 45.9vw;
    }

    #btn_mapSettings {
        bottom: 16%;
        width: 38.6vw;
    }

    #btn_mapColors {
        bottom: 7%;
        width: 38.6vw;
    }

    #btn_dragSelect {
        height: 14.5vw;
        top: 20%;
    }

    #btn_multiSelect {
        height: 14.4vw;
        top: 32%;
    }

    #btn_dragSelect > .label,
    #btn_multiSelect > .label,
    #btn_snappingSlider > .label {
        font-size: 3.9vw;
    }

    #btn_snappingSlider {
        bottom: unset;
        left: unset;
        top: 8%;
        right: 5%;
        width: 48.3vw;
    }

    #btn_translate,
    #btn_resize_TL,
    #btn_resize_TR,
    #btn_resize_BL,
    #btn_resize_BR {
        width: 9.2vw;
        height: 9.2vw;
    }

    #ui_editorSidePanel {
        right: 5%;
        left: 5%;
        top: unset;
        bottom: 14%;
        width: unset;
        border-radius: 6.6vw;
        padding: 3vw;
        flex-direction: row;
        font-size: 3.9vw;
        box-shadow: 0 1.9vw 0 var(--uiBackgroundColor_pressed);
    }

    #ui_editorSidePanel .splitSection {
        width: 50%;
    }

    #element-title-box {
        gap: 2.9vw;
        margin-bottom: 3vw;
    }

    #ui_elementInfo {
        line-height: 2;
    }

    #btn_unselect {
        width: 10.6vw;
        height: 10.6vw;
    }

    #btn_platformAngleSlider,
    #btn_playerAngleSlider,
    #btn_checkpointAngleSlider {
        width: 100%;
        margin-bottom: 4vw;
    }

    #btn_platformAngleSlider > .label,
    #btn_playerAngleSlider > .label,
    #btn_checkpointAngleSlider > .label {
        font-size: 3.9vw;
        margin-bottom: 3.4vw;
    }

    #btn_wall {
        margin-bottom: 4vw;
    }

    #btn_wall > .label,
    #btn_endzone > .label {
        font-size: 3.9vw;
    }

    #btn_duplicateElements {
        right: 22%;
        bottom: 5%;
        width: 35.7vw;
        height: 13.5vw;
        font-size: 5.3vw;
    }

    #btn_deleteElements {
        right: 5%;
        bottom: 5%;
        width: 13.5vw;
        height: 13.5vw;
    }

    #ui_dragSelectMarquee {
        border: 1vw dotted var(--uiForegroundColor);
    }

    /* Map Settings Sliders */

    #btn_platformHeightSlider,
    #btn_wallHeightSlider,
    #btn_lightDirectionSlider,
    #btn_lightPitchSlider {
        left: 5%;
        width: auto;
        top: unset;
    }

    #btn_platformHeightSlider {
        bottom: 40%;
    }

    #btn_wallHeightSlider {
        bottom: 30%;
    }

    #btn_lightDirectionSlider {
        bottom: 20%;
    }

    #btn_lightPitchSlider {
        bottom: 10%;
    }
}
