#btn_sensitivitySlider {
    position: absolute;
    top: 12%;
    left: 160px;
    width: 40%;
}

#btn_volumeSlider {
    position: absolute;
    top: 32%;
    left: 160px;
    width: 40%;
}

#btn_debugText {
    position: absolute;
    top: 56%;
    left: 160px;
    width: 40%;
}

#btn_strafeHUD {
    position: absolute;
    top: 72%;
    left: 160px;
    width: 40%;
}

#btn_resetSettings {
    font-size: 20px;
    position: absolute;
    width: 180px;
    right: 44px;
    bottom: 28px;
    line-height: 1.1;
    height: 64px;
}

@media (orientation: landscape) and (width < 650px) {
    /*     adjustments for very small landscape screens */
    #btn_debugText > .label,
    #btn_strafeHUD > .label {
        font-size: 16px;
    }

    #btn_resetSettings {
        width: 126px;
        font-size: 16px;
    }
}

@media (orientation: portrait) {
    #btn_sensitivitySlider {
        top: calc(25%);
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_volumeSlider {
        top: 35%;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_debugText {
        top: 50%;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_strafeHUD {
        top: 60%;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_resetSettings {
        right: 28px;
        bottom: 80px;
    }

    @media (width < 650px) {
        /* adjustments for very small portrait screens */
        #btn_debugText > .label,
        #btn_strafeHUD > .label {
            font-size: 16px;
        }

        #btn_resetSettings {
            width: 126px;
            font-size: 16px;
        }
    }
}
