#btn_sensitivitySlider {
    position: absolute;
    top: 12%;
    left: 18%;
    width: 40%;
}

#btn_volumeSlider {
    position: absolute;
    top: 32%;
    left: 18%;
    width: 40%;
}

#btn_debugText {
    position: absolute;
    top: 56%;
    left: 18%;
    width: 40%;
}

#btn_strafeHUD {
    position: absolute;
    top: 72%;
    left: 18%;
    width: 40%;
}

#btn_resetSettings {
    font-size: 2.2vw;
    position: absolute;
    width: 20vw;
    right: 5%;
    bottom: 8%;
    line-height: 1.1;
    height: 7.1vw;
}

@media (orientation: portrait) {
    #btn_sensitivitySlider {
        top: 25%;
        left: 10%;
        width: 80%;
    }

    #btn_volumeSlider {
        top: 35%;
        left: 10%;
        width: 80%;
    }

    #btn_debugText {
        top: 50%;
        left: 10%;
        width: 80%;
    }

    #btn_strafeHUD {
        top: 60%;
        left: 10%;
        width: 80%;
    }

    #btn_resetSettings {
        font-size: 4.8vw;
        width: 43.5vw;
        right: 5%;
        bottom: 8%;
        height: 15.5vw;
    }
}
