#btn_sensitivitySlider {
    position: absolute;
    top: 40px;
    left: 160px;
    width: 320px;
}

#btn_volumeSlider {
    position: absolute;
    top: 128px;
    left: 160px;
    width: 320px;
}

#btn_debugText {
    position: absolute;
    width: 320px;
    left: 160px;
    top: 228px;
}

#btn_strafeHUD {
    position: absolute;
    width: 320px;
    left: 160px;
    top: 300px;
}

#btn_resetSettings {
    font-size: 20px;
    position: absolute;
    width: 180px;
    right: 44px;
    bottom: 40px;
    line-height: 1.1;
    height: 64px;
}

@media (orientation: portrait) {
    #btn_sensitivitySlider {
        top: 170px;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_volumeSlider {
        top: 260px;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_debugText {
        top: 400px;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_strafeHUD {
        top: 470px;
        left: 40px;
        width: calc(100% - 80px);
    }

    #btn_resetSettings {
        right: 40px;
        bottom: 80px;
    }
}
